:root {
  font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
  "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  --border-radius: 0.25rem;
  --border-width: 1px;
  --outline-width: 3px;
  --spacing: 1rem;
  --gray-color: hsl(205deg, 20%, 32%);

  --background-color: #e9e6da;
  --primary-navbar: #F4F2EC;
  --primary: #214635;
  --primary-hover: #59720d;
  --card-background-color: var(--background-color);
  --card-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


  
/*   color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}


