.nav_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // padding: 12px 0;
}

.logo {
  color: var(--primary);
  font-size: 1.5rem;
  transition: color 0.1s linear 0.1s;
}

.logo:hover{
  color: var(--primary-hover);
}

.link_login  {
  background-color: var(--primary);
  padding: 8px 16px;
  border-radius: 0.25rem;
    
  a {
      color: white !important; 
    }
}

.content_nav {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.ul_nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem;
  gap: 2rem;
  list-style: none;

  li a {
    color: var(--primary);
  }

  li a:hover {
    color: var(--primary-hover)
  }
}

.nav_btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem;
  gap: 2rem;
  list-style: none;

  li a {
    color: var(--primary);
  }

  li a:hover {
    color: var(--primary-hover)
  }
}

@media (max-width: 767px) {
  
  .nav_container {
    padding: 16px 32px;
    justify-content: space-between;
  }

  .logo {
    font-size: 16px;
  }

  .ul_nav {
    display: none; // Hide navigation links on small screens
  }

  .nav_btn {
    padding: 0;
    gap: 0;
  }
  

  .link_login {
    display: block; // Always display the login link
  }


}